<!DOCTYPE html>
<html lang="es">
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %} - Hospital SAMIC El Calafate</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"><link rel="stylesheet" href="{% static 'css/hospital.css' %}">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<style>
    .logout-btn { background-color: #4d7ec7; color: white; }
    .logout-btn:hover { background-color: #011e35; color: white; }
</style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Hospital SAMIC El Calafate</a>
                <!-- Añadimos un contenedor con utilidades de flexbox -->
                <div class="ms-auto d-flex align-items-center">
                    <div class="me-3">
                        <a href="/" class="btn btn-outline-secondary btn-sm">Volver al Dashboard</a>
                    </div>                   
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}" style="margin: 0;">
                        {% csrf_token %}
                        <button type="submit" class="btn logout-btn btn-sm">Cerrar Sesión</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    

    <main class="container mt-4">
        {% block content %}
        <!-- El contenido específico de cada página se colocará aquí -->
        {% endblock %}
    </main>

<div class="pt-2"><footer class="py-3 mt-5 border-top">
    <p class="text-center text-body-secondary">&copy; 2025 Hospital SAMIC El Calafate</p>
</footer></div>

</body>
</html>
