{% extends 'es-nav.html' %}
{% block title %}Recursos Humanos{% endblock %}
{% load static %}

{% block content %}
<div class="px-4 py-5 mb-5 mt-3 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'images/rrhh-3.png' %}" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold text-body-emphasis">Recursos Humanos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 mt-4">Este es el menú del módulo de Recursos Humanos.<br>Por favor, seleccione la operación de desea realizar.</p>
    </div>
    <div class="col-12 col-lg-8 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-5">
            <div class="card p-3 border-dark shadow mx-auto" style="max-width: 300px;"><h5 class="card-title text-center text-dark"><a href="{% url 'solicitar-vacaciones' %}" target="_blank">Solicitud de vacaciones</a></h5>
            <a href="{% url 'solicitar-vacaciones' %}" target="_blank"></a><img src="{% static 'images/vacaciones-1.png' %}" class="card-img-top mx-auto d-block mt-3" alt="Imagen" style="width: 80px; height: 80px;"></a>
            <div class="card-body d-flex justify-content-end mt-2 pb-1"><a href="{% url 'solicitar-vacaciones' %}" target="_blank"></a><div class="btn btn-outline-dark fw-bold">&rarr;&nbsp;&nbsp;Ir a página</div></a></div>
            </div>
            <div class="card p-3 border-dark shadow mx-auto" style="max-width: 300px;"><h5 class="card-title text-center text-dark"><a href="recursoshumanos/rh-inicio" target="_blank">Disponible</a></h5>
            <a href="recursoshumanos/rh-inicio" target="_blank"><img src="{% static 'images/disponible-3.png' %}" class="card-img-top mx-auto d-block mt-3" alt="Imagen" style="width: 80px; height: 80px;"></a>
            <div class="card-body d-flex justify-content-end mt-2 pb-1"><a href="recursoshumanos/rh-inicio" target="_blank"><div class="btn btn-outline-dark fw-bold">&rarr;&nbsp;&nbsp;Ir a página</div></a></div>
            </div>
            <div class="card p-3 border-dark shadow mx-auto" style="max-width: 300px;"><h5 class="card-title text-center text-dark"><a href="recursoshumanos/rh-inicio" target="_blank">Disponible</a></h5>
            <a href="recursoshumanos/rh-inicio" target="_blank"><img src="{% static 'images/disponible-3.png' %}" class="card-img-top mx-auto d-block mt-3" alt="Imagen" style="width: 80px; height: 80px;"></a>
            <div class="card-body d-flex justify-content-end mt-2 pb-1"><a href="recursoshumanos/rh-inicio" target="_blank"><div class="btn btn-outline-dark fw-bold">&rarr;&nbsp;&nbsp;Ir a página</div></a></div>
            </div>
    </div>
    </div>    
</div>
{% endblock %}
